/* COMMON STUFF */
/* Basics */
.funmode {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.funmode p {
  padding-right: 10px;
  margin: 0;
}

.fun .funmode {
  color: pink;
}


/* Toggle switch */
.switch {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 32px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: pink;
}

input:focus + .slider {
  box-shadow: 0 0 1px pink;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}

.slider.round {
  border-radius: 32px;
}

.slider.round:before {
  border-radius: 50%;
}


/* HOMEPAGE */
.fun #pp {
  content:url("./img/pp_fun.jpg");
}

body.fun {
  background-image: url("./img/grid_fun.png");
  background-size: 640px 640px;
}

.fun .box-basic {
  color: #bd632f;
  background-color: #fcf5ef;
}

.fun .header-contact h4 {
  background: #ffd6a0;
  color: #bd632f;
}

.fun .news h3 {
  background: #ffd6a0;
  color: #bd632f;
}

/* CONFERENCES */
/* Poster gallery */
.fun .gallery .carousel {
  background: #fcf5ef;
}

.fun .gallery .highlight {
  background: #fcf5ef;
  color: #bd442f;
}

/* ABOUT ME */
/* Experiences */
.fun .experience-section {
  background-color: #fcf5ef;
}

.fun .experience-content {
  background-color: #f7e8db;
}

.fun .experience-content.education {
  background-color: #f7eddb;
}

/* Soundtrack */
.fun .soundtrack-info a {
  color: #bd442f;
}
