/* COMMON STUFF */
/* Basics */
body {
  font-family: Helvetica, sans-serif;
  color: #414144;
  background-image: url("../img/grid.png");
  background-repeat: repeat;
  background-attachment:fixed;
  background-position: center;
  background-size: 350px 350px;
  margin: 0;
  padding: 0;
}

p {
  text-align: justify;
}

.box-section {
  text-align: center;
  margin: 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-section h1 {
  background: white;
  padding: 3px 15px;
  margin: 0 0 10px 0;
  display: inline-flex;
}

.box-basic {
  color: #505050;
  background-color: whitesmoke;
  border-radius: 5px;
  text-decoration: none;
  position: relative;
}

.box-basic:hover {
  box-shadow: 0px 0px 10px rgba(122, 122, 122, 0.2);
  transform: scale(1.01);
}


/* Navigation bar */
nav {
  display: flex;
  align-items: flex-start;
  border-top: solid 2px #414144;
  border-bottom: solid 2px #414144;
  width: 100%;
  font-weight: bold;
  font-size: 1.25em;
  padding: 5px;
}

.navbar{
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
  width: 100%;
}
.navbar li{
	display: inline;
	margin: 0 10px;
	text-align: center;
}

li a {
	color: #414144;
}

li a:link, a:visited, a:active {
	text-decoration: none;
}


/* Header */
.header {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  padding: 15px;
}


/* Left panel */
.header-left {
  padding-right: 15px;
}

.header-info {
  display: flex;
  width: 100%;
}

.header-info img {
  border-radius: 5px;
}

.header-description {
  padding: 0 15px;
  background: white;
  border-radius: 15px;
  margin-left: 10px;
  height: 300px;
  max-width: 200px;
}

.header-contact {
  background: white;
  margin-top: 15px;
  border: solid 1px #414144;
  width: 100%;
}

.header-contact h4 {
  margin: 0;
  background: lightgray;
  padding: 3px 0 3px 15px;
  border-bottom: solid 1px #414144;
  color: #505050;
}

.header-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header-links a {
  width: 30%;
  padding: 5px 0;
  text-align: center;
  text-decoration: none;
  color: #414144;
}


/* Right panel */
.header-right {
  width: 65%;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.news {
  padding: 15px 15px 0;
}

.news h3 {
  background: lightgray;
  color: #505050;
  margin: 0;
  padding: 3px 0 3px 10px;
  border-radius: 2px;
}
.news p {
 margin: 10px 0 0; 
}


/* Project highlights */
.project .project-entry {
  display: flex;
  margin: 0 50px 30px;
}

.project-entry.right {
  justify-content: end;
}

.project-entry.left {
  justify-content: start;
}

.project .project-entry:last-child {
  margin-bottom: 0;
}

.project-content {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  width: 85%;
  align-items: center;
}

.project-content img {
  width: 50%;
}

.project-info {
  padding: 15px;
  width: 45%;
}


/* POSTER GALLERY */
.posters .gallery {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.gallery .carousel {
  width: 18%;
  height: fit-content;
  padding: 15px;
  border-radius: 5px;
}

.carousel .entry {
  aspect-ratio: 1 / 1;
  width: 100%;
  height: min-content;
  margin-bottom: 15px;
  border: solid 2px #414144;
}

.carousel .entry:last-child {
  margin-bottom: 0;
}

.carousel .entry img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery .carousel, .highlight {
  background: whitesmoke;
}

.gallery .highlight {
  border-radius: 10px;
  width: 78%;
}

.highlight .entry {
  display: none;
  padding: 15px 45px 0;
}

.highlight .entry.active {
  display: block;
}

.highlight img {
  width: 70%;
}

/* ABOUT ME */
/* Experiences */
.experience-section {
  background-color: whitesmoke;
  width: auto;
}

.experience-section h1 {
  background: none;
}

.experience-section.box-section {
  text-align: center;
  margin: 15px 0;
}

.experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.experience-entry {
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  width: 80%;
  margin: 0 auto;
}

.experience-entry a {
  text-decoration: none;
}

.experience-date {
  width: 10%;
  border-right: solid 3px black;
  padding: 30px 10px;
  text-align: end;
}

.experience-content {
  background-color: #e3e4e9;
  text-decoration: none;
  color: #414144;
  width: 90%;
  padding: 0 20px;
  border-radius: 5px;
  margin: 10px;
  text-align: start;
}

.experience-content.education {
  background-color: #eaedef;
}

.experience-content:hover {
  box-shadow: 0px 0px 10px rgba(122, 122, 122, 0.2);
  transform: scale(1.005);
}

.experience-internship {
  background-color: white;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.experience-description {
  padding-right: 35px;
}

.experience-description p {
  margin-bottom: 5px;
}

.experience-year {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  text-align: center;
}

.experience-year h4 {
  margin-top: 5px;
}

.experience-year p {
  margin: 5px 0;
}

.experience-year .first_second {
  width: 66%;
}

.experience-year .third {
  width: 33%;
}

.experience-year * {
  background-color: white;
  border-radius: 5px;
  margin: 0;
}


/* Soundtrack */
.soundtrack-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.soundtrack-section h1 {
  background: white;
  padding: 3px 15px;
}

.soundtrack {
  width: 70%;
  display: flex;
  align-items: center;
  padding: 15px;
}

.soundtrack .video {
  width: 60%;
  aspect-ratio: 16 / 9;
}

.soundtrack-info {
  width: 40%;
  text-align: center;
  padding: 0 30px;
}

.soundtrack-info a {
  color: #414144;
  font-weight: bold;
}
