body {
  font-family: Helvetica, sans-serif;
  color: #414144;
  background-image: url("img/grid.png");
  background-repeat: repeat;
  background-size: 600px 600px;
  margin: 0;
  padding: 0;
}


/* MAIN */
.main-section {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}

.main-left {
  width: 35%;
  padding: 15px;
}

.main-info {
  display: flex;
  width: 100%;
}

.main-info img {
  border-radius: 5px;
}

.main-description {
  padding: 0 15px;
  background: white;
  border-radius: 15px;
  margin-left: 10px
}

.main-contact {
  background: white;
  margin-top: 30px;
  border: solid 1px #414144;
  width: 100%;
}

.main-header {
  background: #ffd6a0;
  padding: 2px 0 2px 15px;
  border-bottom: solid 1px #414144;
  color: #bd632f;
}

.main-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-links a {
  width: 30%;
  padding: 5px 0;
  text-align: center;
  text-decoration: none;
  color: #414144;
}

.main-right {
  width: 60%;
  padding: 15px;
}

.main-right h3 {
  background: #ffd6a0;
  color: #bd632f;
  /* padding-left: 15px; */
  padding: 3px 0 3px 10px;
  border-radius: 2px;
}


/* EXPERIENCES */
.experience-section {
  text-align: center;
  background-color: #fcf5ef;
  /* background-color: #f5f1f1; */
  /* background-color: rgb(241, 244, 245, 0.8); */
  padding: 10px 0 30px;
  width: auto;
}

.experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.experience-entry {
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  width: 80%;
  margin: 0 auto;
}

.experience-date {
  width: 10%;
  border-right: solid 3px black;
  padding: 30px 10px;
  text-align: end;
}

.experience-content {
  background-color: #f7e8db;
  /* background-color: #ebe3e3; */
  width: 90%;
  padding: 0 20px;
  border-radius: 5px;
  margin: 10px;
  text-align: start;
}

.experience-internship {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.experience-year {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  text-align: center;
}

.experience-year h4 {
  margin-top: 5px;
}

.experience-year p {
  margin: 5px 0;
}

.experience-year .first_second {
  width: 66%;
}

.experience-year .third {
  width: 33%;
}

.experience-year * {
  background-color: white;
  border-radius: 5px;
  margin: 0;
}


/* HIGHLIGHTS */
.highlights-section {
  text-align: center;
  padding: 10px 0 30px;
  display: flex;
  flex-direction: column;
}

.highlights {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.highlights-entry {
  background: #ffd6a0;
  color: #bd632f;
  width: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  border-radius: 5px;
}

.highlights-entry h3 {
  border-bottom: solid 1px #bd632f;
}

.highlights-entry .video {
  width: 90%;
  aspect-ratio: 16 / 9;
}

/* FOR SMALLER SCREENS */
@media (max-width: 1400px) {
  .main-info {
    flex-direction: column;
  }

  .main-description {
    margin-top: 15px;
    margin-left: 0;
  }
}

@media (max-width: 1200px) {
  .highlights {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .highlights-entry {
    width: 80%;
    margin: 15px 0;
  }
}

@media (max-width: 800px) {
  .main-section {
    flex-direction: column;
    margin: 0 15px;
  }

  .main-left {
    width: 100%;
    padding: 0;
  }

  .main-info {
    align-items: center;
  }

  .main-right {
    width: 100%;
    padding: 0;
  }

  .experience-internship {
    flex-direction: column-reverse;
    align-items: center;
  }

  .experience-internship img {
    margin-bottom: 5px;
  }

  .experience-year {
    flex-direction: column;
  }

  .experience-year .third {
    width: 100%;
    margin-bottom: 5px;
  }

  .experience-year .first_second {
    width: 100%;
  }
}