body {
  font-family: Helvetica, sans-serif;
  color: #414144;
  background-image: url("img/grid.png");
  background-repeat: repeat;
  background-attachment:fixed;
  background-size: 600px 600px;
  margin: 0;
  padding: 0;
}

p {
  text-align: justify;
}

.section-box {
  text-align: center;
  padding: 10px 0 40px;
}

.basicbox {
  /* background: #ffd6a0; */
  color: #bd632f;
  background-color: #fcf5ef;
  /* width: 45%; */
  /* display: flex; */
  /* justify-content: center; */
  /* flex-direction: column; */
  /* align-items: center; */
  border-radius: 5px;
  text-decoration: none;
  position: relative;
}

.basicbox:hover {
  box-shadow: 0px 0px 10px rgba(122, 122, 122, 0.2);
  transform: scale(1.01);
}

.basicbox:hover .tape{
  display: none;
}

/* SCOTCH TAPE */
.tape {
  position: absolute;
  width: 15%;
  height: 6%;
  background-color: hsla(0, 17%, 92%, 0.3);
}

.toplefttape{
	top: 3%;
	left: -4%;
  transform: rotate(-45deg);
}

.bottomrighttape{
	bottom: 3%;
	right: -4%;
  transform: rotate(-45deg);
}

.toprighttape{
	top: 3%;
	right: -4%;
  transform: rotate(45deg);
}

.bottomlefttape{
	bottom: 3%;
	left: -4%;
  transform: rotate(45deg);
}

/* MAIN */
.main-section {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 15px 15px 0;
}

.main-left {
  width: 35%;
  padding: 15px 15px 0;
}

.main-info {
  display: flex;
  width: 100%;
}

.main-info img {
  border-radius: 5px;
}

.main-description {
  padding: 0 15px;
  background: white;
  border-radius: 15px;
  margin-left: 10px
}

.main-contact {
  background: white;
  margin-top: 30px;
  border: solid 1px #414144;
  width: 100%;
}

.main-header {
  background: #ffd6a0;
  padding: 2px 0 2px 15px;
  border-bottom: solid 1px #414144;
  color: #bd632f;
}

.main-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-links a {
  width: 30%;
  padding: 5px 0;
  text-align: center;
  text-decoration: none;
  color: #414144;
}

.main-right {
  width: 60%;
  padding: 15px 15px 0;
}

.main-right h3 {
  background: #ffd6a0;
  color: #bd632f;
  /* padding-left: 15px; */
  padding: 3px 0 3px 10px;
  border-radius: 2px;
}


/* PROJECT HIGHLIGHTS */
.project-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-section h1 {
  background: white;
  padding: 3px 15px;
}

.project {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.project-title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.project-title .icon {
  margin-left: 5px;
  height: 1.8em;
}

.project-entry img:not(.icon)  {
  width: 80%;
}

.project-entry {
  /* background: #ffd6a0; */
  /* color: #bd632f; */
  /* background-color: #fcf5ef; */
  width: 45%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* padding-bottom: 30px; */
  /* border-radius: 5px; */
  /* text-decoration: none; */
  /* position: relative; */
}

.project-entry h3 {
  border-bottom: solid 1px #bd632f;
}

/* EXPERIENCES */
.experience-section {
  background-color: #fcf5ef;
  /* background-color: #f5f1f1; */
  /* background-color: rgb(241, 244, 245, 0.8); */
  width: auto;
}

.experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.experience-entry {
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  width: 80%;
  margin: 0 auto;
}

.experience-date {
  width: 10%;
  border-right: solid 3px black;
  padding: 30px 10px;
  text-align: end;
}

.experience-content {
  background-color: #f7e8db;
  text-decoration: none;
  color: #414144;
  width: 90%;
  padding: 0 20px;
  border-radius: 5px;
  margin: 10px;
  text-align: start;
}

.experience-content.education {
  /* background-color: #ebe3e3; */
  /* background-color: #f7e8db; */
  /* background-color: #ebded5; */
  /* background-color: #ebddd0; */
  background-color: #f7eddb;
}

.experience-content:hover {
  box-shadow: 0px 0px 10px rgba(122, 122, 122, 0.2);
  transform: scale(1.005);
}


.experience-internship {
  background-color: white;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.experience-description {
  /* padding: 5px 15px 0; */
  padding-right: 35px;
}

.experience-description p {
  margin-bottom: 5px;
}

.experience-year {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  text-align: center;
}

.experience-year h4 {
  margin-top: 5px;
}

.experience-year p {
  margin: 5px 0;
}

.experience-year .first_second {
  width: 66%;
}

.experience-year .third {
  width: 33%;
}

.experience-year * {
  background-color: white;
  border-radius: 5px;
  margin: 0;
}


/* SOUNDTRACK */
.soundtrack-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.soundtrack-section h1 {
  background: white;
  padding: 3px 15px;
}

.soundtrack {
  width: 60%;
  /* color: #bd632f; */
  /* background-color: #fcf5ef; */
  /* border-radius: 5px; */
  display: flex;
  align-items: center;
  padding: 15px;
}

.soundtrack .tape{
  width: 10%;
  height: 8%;
}

.soundtrack .toprighttape{
	top: 2%;
	right: -3%;
  transform: rotate(45deg);
}

.soundtrack .bottomlefttape{
	bottom: 2%;
	left: -3%;
  transform: rotate(45deg);
}

.soundtrack .video {
  width: 60%;
  aspect-ratio: 16 / 9;
}

.soundtrack-info {
  width: 40%;
  text-align: center;
  padding: 15px;
}

.soundtrack-info a {
  color: #bd442f;
  font-weight: bold;
}


/* FOR SMALLER SCREENS */
@media (max-width: 1400px) {
  .main-info {
    flex-direction: column;
  }

  .main-description {
    margin-top: 15px;
    margin-left: 0;
  }
}

@media (max-width: 1200px) {
  .project {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .project-entry {
    width: 80%;
    margin: 15px 0;
  }

  .soundtrack {
    width: 80%;
  }
}

@media (max-width: 960px) or (orientation: portrait) {
  .main-section {
    flex-direction: column;
    margin: 0 15px;
  }

  .main-left {
    width: 100%;
    padding: 0;
  }

  .main-info {
    align-items: center;
  }

  .main-right {
    width: 100%;
    padding: 0;
  }

  .experience-internship {
    flex-direction: column-reverse;
    align-items: center;
  }

  .experience-internship img {
    margin-bottom: 5px;
  }

  .experience-year {
    flex-direction: column;
  }

  .experience-year .third {
    width: 100%;
    margin-bottom: 5px;
  }

  .experience-year .first_second {
    width: 100%;
  }

  .experience-description {
    padding-right: 0;
  }
}